#evaluate==0.4.3
#accelerate==1.6.0
#bert-score==0.3.13
#bleach==6.2.0
#chardet==5.2.0
#click==8.1.8
#datasets==3.5.1
#fqdn==1.5.1
#nltk==3.9.1
#numpy==1.26.4
#pandas==2.2.3
#rouge-score
#spacy==3.8.5
#tqdm==4.67.1
#openpyxl===3.1.5
#emissor
#emissor==0.0.dev4
#cltl.combot==1.1.dev1
#cltl.combot[service] @ git+https://github.com/leolani/cltl-combot
#scipy==1.15.2
#seaborn==0.13.2
#torch==2.2.2
#transformers==4.51.3

evaluate
accelerate
bert-score
bleach
chardet
click
datasets
fqdn
nltk
numpy
pandas
rouge-score
tqdm
openpyxl
emissor
cltl.combot
scipy
seaborn
torch
transformers
